.GlobalProjects {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 300px auto;
    width: 98%;
}

.GlobalProjects header {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;

    padding: 0 12px;
}

.GlobalProjects header p {
    color: var(--color-text);
    font-size: 19px;
    font-weight: 200;
    opacity: 0.5;

    width: 80%;
}

.GlobalProjects header p a {
    color: var(--color-main);
    cursor: pointer;

    transition: 0.2s;
}

.GlobalProjects header p a:hover {
    text-decoration: underline;
}

.GlobalProjects header h1 {
    color: var(--color-main);
    font-size: 50px;
    font-weight: 300;

    width: 30%;
}

.GlobalProjects section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    gap: 10px;

    padding: 10px;

    background-color: transparent;
}


@media (max-width: 1200px)
{
    .GlobalProjects header p {
        font-size: 15px;
    }
    
    .GlobalProjects header h1 {
        font-size: 30px;
    }
}

@media (max-width: 825px)
{
    .GlobalProjects header h1 {
        font-size: 28px;
    }
}

@media (max-width: 750px)
{
    .GlobalProjects header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5px;
    }

    .GlobalProjects header p {
        width: 100%;
    }
    
    .GlobalProjects header h1 {
        width: 100%;
    }
}

@media (max-width: 540px)
{
    .GlobalProjects section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}