@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=El+Messiri:wght@400..700&family=Quintessential&display=swap');



html, body {
    overflow-x: hidden !important;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-main: #121212;
    --bg-color-secondary: #0c0c0c;

    /* DARK THEME */
    /* 1E1E2E - Theme Dev  */
    /* 121212 - Theme Dark Soft  */
    /* 0F0F0F - Theme Deep Dark  */

    /* LIGHT THEME */


    --color-text: #b8b8b8;
    --color-titles: #FFF;

    --color-main: #0052968e;

    --font-main: 'Cinzel', sans-serif;
    --font-second: 'El Messiri', sans-serif;
    --font-brave: 'Quintessential', sans-serif;
}

body {
    background-color: var(--bg-color-main);
    color: var(--color-text);

    font-family: var(--font-main);
}
