#blue {
    background-color: rgb(11, 102, 221);
}

#red {
    background-color: rgb(197, 21, 21);
}

#green {
    background-color: rgb(21, 197, 50);
}

#yellow {
    background-color: rgb(203, 216, 20);
}

#orange {
    background-color: rgb(216, 76, 20);
}